label{
    color:white;
}
input{
    outline:none;
    margin:1rem;
}
.sizeInput, .elements{
    display:flex;
    align-items:center;
    padding-left:1rem;
}
span{
    font-size:small;
}
.boxes{
    display:flex;
    justify-content:center;
}
.box{
    background-color:white;
    margin:0.5rem;
    padding:1rem;
    border-radius:5px;
}